{%  extends 'dummy.html' %}
{% block title %}
<title>this registration form </title>
{% endblock %}

{% block body_block %}
<style>
    h1
    {
        background-color: aqua;
    }
    form
    {
        background-color: rgba(200, 255, 182, 0.408);
        color: green;
        padding: 10px;
        height: 430px;
        width: 300px;
        font-size: 20px;
    }
    input
    {
        border-radius: 5px;
    }
    #one
    {
        border-radius:0px 10px 0px 10px ;
        background: linear-gradient(to right,red,black);
        color: whitesmoke;
        font-size: 20px;
        padding:2px;
        width: 150px;
    
    
    }
    
</style>
        <center>
            <h1>Register here</h1>
    
    
            <form  method="POST" enctype="multipart/form-data" >
                {% csrf_token %}
                
                  {{ufo.as_p}}
            <input type="submit" value="register" id="one">
    
                
            </form>
        </center>
    
{% endblock %}